[submodule "arhodigp"]
	path = arhodigp
	url = https://github.com/lurkydismal/arhodigp.git
[submodule "ctre"]
	path = ctre
	url = https://github.com/lurkydismal/ctre.git
[submodule "plthook"]
	path = plthook
	url = https://github.com/lurkydismal/plthook.git
[submodule "forward_circular_buffer"]
	path = forward_circular_buffer
	url = https://github.com/lurkydismal/forward_circular_buffer.git
